{
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "plugins": [],
    "ignorePatterns": [
        "node_modules/",
        "dist/",
        "test/**/*.spec.js"
    ],
    "rules": {
        "semi": "error",
        "quotes": ["error", "single"],
        "indent": ["error", 2]
    }
}